[Unit]
Description=Poll to set dynamic DNS in case it changes
After=network-online.target
Wants=network-online.target

[Timer]
Unit=hosted_zone_ip.service
OnBootSec=15s
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
